{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}About us{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col">
<h2>What we do</h2>
<p>We endeavour to provide a space for students passionate about technology to congregate and learn from one another. We also are committed to providing free web services to our members, running tutorials on a wide range of topics for a wide range of skill levels, and arranging talks by guest speakers involved in the internet and technology.</p>
<h2><span>Why Join</span></h2>
<p>Webpages: Netsoc gives you a place to park your website. For free. We’ll teach you everything you need to know about making websites, installing content management systems such as WordPress, making graphics for the web, animation and more.</p>
<p>Cube: Cube is the newest Netsoc server, it has huge amounts of processing power, memory, and disk space. Everyone also gets a persistent graphical login to its Debian system using NX. Cube has 24GB of RAM, several TB of space, and 16 logical cores of processing power.</p>
<p>Spoon: Spoon is Netsoc’s second best server, and is dead sexy. It’s a dual processor Poweredge 1800 from Dell, with 4 gigs of ram. Its just cool.</p>
<p>Support: Weekly workshops and support. Email support at netsoc.tcd.ie, and if we can’t answer your question, we know someone who can.</p>
<p>Talks: Guests we’ve had include Free Software legend Richard Stallman (twice!), former ESAT head Denis O’Brien, computer games legend Peter Molyneux (maker of Black &amp; White), and the world’s first human cyborg, Professor Kevin Warwick.</p>
<p>Room: The Netsoc Room is in Goldsmith Hall, where you can log in in peace, have a cup of coffee, use the printer and hide from your lectures. Not that we recommend that, of course.</p>
<p>Library: The Netsoc Library has got technical books, fiction, and a huge archive of magazines.</p>
<p>Lollipops: There are free lollipops waiting for you on the Netsoc stand right now (sorry, freshers’ week only). What are you waiting for? Lollipops, people. Lollipops!</p>
<h2><span>Join Now</span></h2>
<p>We’re always looking to get new members signed up. The membership fee is a miserable €2 and the easiest time to join is during freshers’ week (the first week in october). After that, you can join at most talks, at our room.</p>
<h2><span>Constitution</span></h2>
<p>The constitution on the Dublin University Internet Society can be found here: <a title="Constitution" href="https://wiki.netsoc.tcd.ie/index.php?title=Constitution">Constitution</a>.</p>
<h2><span>Acceptable Usage Policy</span></h2>
<p>The Netsoc AUP can be found here: <a title="AUP" href="https://wiki.netsoc.tcd.ie/index.php?title=AUP">AUP</a>.</p>
</div>
{% endblock %}
