{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Netsoc Library - Book: {{book.title}} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <!-- {insert search template??} -->

<div> <!-- IMG -->
    <img alt="{{book.callnumber}}" src="{{book.image_url}}"/>
</div>

<div class="metadata">
    <h1>{{book.title}}</h1>
    <p>
        {{book|pretty_authors}}<\br>
        {{book.callnumber}}<\br>
        {{book.rating}}
    </p>
    <!-- {% for field in ['author', 'type', 'subject', 'category', 'publisher'] %}
         <a href="{{ url_for('library', search=field, key=book[field] ) }}">{{book[field]}}</a><br/>
         {% endfor %} -->

    <div class="rating">
    </div>
    <div class="metadata-info">
        <p>
            {{book.description}}
        </p>
    </div>
    <p>
        {{book.publisher}} :: {{book.isbn13}}
    </p>
</div>

{% endblock %}
