{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Netsoc Library - Book: {{book.title}} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <!-- {insert search template??} -->

<div> <!-- IMG -->
    <img alt="{{book.callnumber}}" src="{{book.image_url}}"/>
</div>

<div class="metadata">
    <h1>{{book.title}}</h1>
    <p>
        {% for author in book.authors %}
        <a href="{{ url_for('library', search='authors', key=author.name ) }}">{{author.name}}</a>,
        {% endfor %} </br>
        {{book.callnumber}}</br>
        {{book.rating}}
    </p>
    {% for field,val in [('type',book.type),('publisher',book.publisher)] %}
    <a href="{{ url_for('library', search=field, key=val ) }}">{{val}}</a><br/>
    {% endfor %}

    <div class="rating">
    </div>
    <div class="metadata-info">
        <p>
            {{book.description|html2text}}
        </p>
    </div>
    <p>
        {{book.publisher}} :: {{book.isbn13}}
    </p>
</div>

{% endblock %}
