{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Committee (2019 – 2020){% endblock %}</h1>
{% endblock %}

{% block content %}
<p>All general correspondence should be sent to:<br>
secretary at netsoc.tcd.ie</p>
<h2><span>Executive Committee</span></h2>
<p>Auditor: Swapnil Raj&nbsp;<b>&lt;lordraj&gt;</b></p>
<p>Secretary: Elle Loughran &lt;<strong>genetics</strong>&gt;</p>
<p>Treasurer: Adam Teehan &lt;<strong>teehanad</strong>&gt;</p>
<h2><span>Council</span></h2>
<p>Public Relations: Neil Kilbane &lt;<strong>kilbanen</strong>&gt;</p>
<p>Amenities: Donal Hogan &lt;<strong>the_don</strong>&gt;</p>
<p>Events: Luke Lau &lt;<strong>luke_</strong>&gt;</p>
<p>Inter-Societies Liaison: Senán D’art &lt;<strong>darts</strong>&gt;</p>
<p>Webmaster: Jack O’Sullivan&nbsp;<b>&lt;dev&gt;</b></p>
<p>Ordinary Committee Members: Prapti Setty, Patrick Jennings</p>
<p>Systems Administrators (non-voting members): Scarlett Gourley&lt;<strong>scarlehh</strong>&gt;, Hieu Nguyen&nbsp;<strong>&lt;hieu&gt;</strong>, Alexion Ramos<b>&lt;ratex&gt;</b>, Dário Tavares Antunes <b>&lt;dario&gt;,&nbsp;</b>Andrew Shaw<b>&nbsp;<strong>&lt;shawa&gt;</strong>,</b> Basil Contovounesios<b> &lt;blc&gt;, </b>Julius Mereckas<b> &lt;mereckaj&gt;, </b>Jonathan Rosca<b> &lt;ferry&gt;,</b> Douglas Temple<b> &lt;duggles&gt;</b></p>
<h2><span>Get Involved</span></h2>
<p>Do you want to get involved in the day-to-day running of netsoc? Do you know of any cool places to have a party? Any up-and-coming bands we could get to play at the party? Any workshops you think we should run? Any speakers you think we should have?</p>
<p>If you want to get involved in the society, all you have to do is wander along to our term-time weekly committee meetings, or email secretary@netsoc.ie.</p>
{% endblock %}
