{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}File Storage{% endblock %}</h1>
{% endblock %}

{% block content %}
<p></p><p>Filestorage is where you can put your files and access them from anywhere in the world with <a class="new" title="WinSCP (page does not exist)" href="/index.php?title=WinSCP&amp;action=edit&amp;redlink=1">WinSCP</a>, <a class="new" title="SFTP (page does not exist)" href="/index.php?title=SFTP&amp;action=edit&amp;redlink=1">SFTP</a>.</p>
<p>On both <a title="Cube" href="/index.php?title=Cube">Cube</a> and <a title="Spoon" href="/index.php?title=Spoon">Spoon</a>, you get 4 GB of general-purpose filestorage space in /home/username. You can use it to store pretty much anything (as permitted by the <a class="mw-redirect" title="AUP" href="/index.php?title=AUP">AUP</a>). You can use it to store your email, archive college work, play with shell-scripting etc. In addition, on <a title="Cube" href="/index.php?title=Cube">Cube</a> you get an additional 1GB of storage for webspace.</p>

<h2>Contents</h2>

<ul>
<li><a href="#.2Ftmp"><span>1</span> <span>/tmp</span></a></li>
<li><a href="#Unsupported"><span>2</span> <span>Unsupported</span></a></li>
<li><a href="#Extra_Quota"><span>3</span> <span>Extra Quota</span></a></li>
<li><a href="#Note"><span>4</span> <span>Note</span></a></li>
</ul>

<h2><span id=".2Ftmp" >/tmp</span></h2>
<p>On <a title="Spoon" href="/index.php?title=Spoon">Spoon</a> there is 5GB of /tmp, a place to put files temporarily. This space is shared between all users and is faster than your home directory. If it ever gets full, lots of stuff will break and people will get very angry. It is wiped at every reboot.</p>
<h2><span id="Unsupported">Unsupported</span></h2>
<p>On <a title="Spoon" href="/index.php?title=Spoon">Spoon</a> there is also a 5GB /srv/unsupported. This is similar to /tmp, however its slower and isn’t wiped at reboot. This is an experiment more than anything else, and if it’s abused it will disappear.</p>
<h2><span id="Extra_Quota" >Extra Quota</span></h2>
<p>In some circumstances, you may be able to have your quota increased.</p>
<ol>
<li>Extra quota is only for course related data (i.e. almost all your quota is taken up by it)</li>
<li>You must really need it (e.g. can’t just move to Cube or Spoon or vice-versa)</li>
<li>There must be enough free space</li>
<li>You’re expected to keep your usage as low as possible</li>
<li>We will revoke the extra quota if, for example, we run low on space, or there is abuse</li>
</ol>
<p>Extra quota is entirely at the discretion of the admins. Note we can only guarantee your fair share of disk space; extra quota is taking advantage of the unused quotas of other people.</p>
<p>&nbsp;</p>
<h2><span id="Note">Note</span></h2>
<p>We do not currently provide a backup service to users (we are working on this, see <a class="mw-redirect" title="Seth" href="/index.php?title=Seth">seth</a>). It is <i>your</i> responsibility to backup any important data that you might have on <a title="Spoon" href="/index.php?title=Spoon">Spoon</a> or <a title="Cube" href="/index.php?title=Cube">Cube</a>.</p>
{% endblock %}
